extends layout

block content
    nav 
        h1  LOGO
        .profile
            - const profilePic = user.images.find(img=>img.mainPicture) 
            .img-container
                img(src=profilePic.url)
            h2   #{user.name}
        ul
            li.active  Matches
            li  Messages
        ul.active-list
        a.logout-btn(href="/logout")  logout
    main
        ul
            li.active  matching
            li  info
        .card-container
            #card
    script(src="/socket.io/socket.io.js")