extends layout

block content
    nav 
        h1  
            include logo.pug
        .profile
            - const profilePic = user.images.find(img=>img.mainPicture) 
            .img-container
                img(src=profilePic.url)
            h2   #{user.name}
        ul.menu
            li.match-list.active  Matches
                span.newMatches
            li.message-list  Messages
                span.newMatches
        ul.active-list
            .match-list
                p.info   No matches yet!
            .message-list.hidden
                p.info   No messages yet!
        a.logout-btn(href="/logout")  logout
    main
        ul.main-nav
            li.matching.active  matching
            li.info  info
        .card-container
            #matching
                h2
                .img-container
                p
                    span    Age 
                    span.age
                p
                    span    Gender 
                    span.gender
                .buttons
                    button.no  no
                    button.yes  yes
            #info.hidden
                include logo.pug
                //- h2
                //- img
                //- p
                //-     span    Age 
                //-     span.age
                //- p
                //-     span    Gender 
                //-     span.gender   
                //- button  Send a message!
    script(src="/socket.io/socket.io.js")