extends layout

block content
    nav 
        h1  LOGO
        .profile
            - const profilePic = user.images.find(img=>img.mainPicture) 
            .img-container
                img(src=profilePic.url)
            h2   #{user.name}
        ul.menu
            li.active  Matches
                span.newMatches
            li  Messages
        ul.active-list
        a.logout-btn(href="/logout")  logout
    main
        ul.main-nav
            li.mathcing.active  matching
            li.info  info
        .card-container
            #card
                h2
                .img-container
                p
                    span    Age 
                    span.age
                p
                    span    Gender 
                    span.gender
                .buttons
                    button.no  no
                    button.yes  yes
    script(src="/socket.io/socket.io.js")