extends layout

block content
    h1 #{title}
    form(method="POST" action="/auth")
        input(type="email" placeholder="email" name="email")
        input(type="password" placeholder="password123" name="password")
        input(type="password" placeholder="password123" name="passwordCheck")
        input(type="number" name="age")
        input(type="range" min="18" max="100" value="1" name="min")
        input(type="range" min="18" max="100" value="1" name="max")
        button(type="submit")   submit