extends layout

block content
    h1 #{title}
    form(method="POST" action="/auth")
        input(type="text" placeholder="username" name="username")
        input(type="password" placeholder="password123" name="password1")
        input(type="password" placeholder="password123" name="password2")
        input(type="number" name="age")
        input(type="range" min="18" max="100" value="1" name="min")
        input(type="range" min="18" max="100" value="1" name="max")
        button(type="submit")   submit