doctype html
html
    head
        title #{meta.title}
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href=`/static/styles/parts/${styling}`)
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet")
        if(script)
            script(defer type="module" src=`/static/scripts/${script}`)
    body
        block content
        footer
            p Copyright &copy; 2020