extends layout

block content
    main
        h2 #{title}
            span    1/5
        form(method="POST" action="/signup" enctype="multipart/form-data")
            .field.visible
                input(type="email" placeholder="Email" name="email")
                input(type="password" placeholder="Password" name="password")
                input(type="password" placeholder="Confirm password" name="passwordCheck")
                input(type="text" placeholder="Your Name" name="name")
            .field.image
                img()
                input(type="file" name="image" accept="image/png, image/jpeg")
            .field
                input(type="number" name="age" min="18" value="18" onKeyDown="return false")
                input(type="range" min="18" max="100" value="18" name="minAge")
                input(type="range" min="18" max="100" value="18" name="maxAge")
            .buttons-container
                button(type="submit")   submit
                .buttons.visible
                    button(type="button" class="back")   back
                    button(type="button" class="next")   next