*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --main-color: white;
    --main-gradientColor: linear-gradient(to right, #feac5e, #c779d0, #4bc0c8);
}
body{
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
input,
button{
    outline: none;
}
button{
    text-transform: uppercase;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}